body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  float: left;
  list-style: none;
  padding: 0 0 0 30px;
}

#musicTitle {
  float: left;
}
