body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  float: left;
  list-style: none;
  padding: 0 0 0 30px;
}

li:hover {
  font-weight: bold;
}
#youtube {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
